
li .glyphicon {
    margin-right: 10px;
}


.navbar-brand {
  padding: 0px;
}

.navbar-brand>img {
  height: 100%;
  padding: 2px 20px;
  width: auto;
}


/* GENERATED CONTENT */
.navbar-default {
  background-color: #79CAED;
  border-top: 2px solid #f8991d;
  border-bottom: 2px solid #f8991d;
}
.navbar-default .navbar-brand {
  color: #2E90BB;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #f8991d;
}
.navbar-default .navbar-text {
  color: #2E90BB;
}
.navbar-default .navbar-nav > li > a {
  color: #2E90BB;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f8991d;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #cee0e8;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #2E90BB;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #f8991d;
  background-color: #f8c684;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #f8c684;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #f8991d;
  background-color: #f8c684;
}
.navbar-default .navbar-nav > .link-active > a,
.navbar-default .navbar-nav > .link-active > a:hover,
.navbar-default .navbar-nav > .link-active > a:focus {
  color: #79CAED;
  background-color: #2E90BB;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #f8991d;
  background-color: #f8c684;
}
.navbar-default .navbar-toggle {
  border-color: #f8991d;
  background-color: #f8c684;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {

}
.navbar-default .navbar-toggle .icon-bar {

}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f8991d;
}
.navbar-default .navbar-link {
  color: #2E90BB;
}
.navbar-default .navbar-link:hover {
  color: #f8991d;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #2E90BB;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f8991d;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f8981d;
    background-color: #f8c684;
  }
} 